<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Expired</title>

    <!-- Redirect after 5 seconds -->
    {% comment %} <script>
        setTimeout(function() {
            window.location.href = "/documents/";  // Redirect to home page
        }, 5000);  // 5 seconds delay before redirect
    </script> {% endcomment %}
    
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
        h3 {
            color: red;
        }
    </style>
</head>
<body>

    <h3 style="color:red;">URL expired. Please request access again.</h3>
    {% comment %} <p>Redirecting to home page in 5 seconds...</p> {% endcomment %}

</body>
</html>
